<div class="container bg-dark my-3 p-2 px-5 rounded position">
    <div class="row">
        <div class="col-2">
            <a routerLink="/home">Home</a>
        </div>
        <div class="col-2" >
            <a  routerLink="/pipe">Pipe</a>
        </div>
        <div class="col-2">
            <a routerLink="/crudStu">Students</a>
        </div>
        <div class="col-2">
            <a routerLink="/crudFac">Faculty</a>
        </div>
        <div class="col-2">
            <a routerLink="/crudLaptop">Laptop</a>
        </div>
    </div>
</div>
